* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header-site {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 span {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.menu-list {
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.home-page-site {
    text-align: center;
}

.imagem-video-call {
    margin-top: 1.7em;
    height: 10em;
    margin-bottom: 1em
}

.pre-title {
    font-size: 0.9em;
    margin-bottom: 1.5em
}

.title {
    font-size: 2.5em;
    color: red
}

.btnOrcamento {
    border: 1px solid red;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-decoration: none;
}

.sobre-produtos {
    text-align: center;
}

.imagem-coding {
    margin-top: 8em;
    height: 10em;
    margin-bottom: 1em
}

.cards-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-cloud-check {
    float: left;
    margin-left: 50px;
    font-size: 1.5em;
    color: red;
}

.card-title {
    font-weight: bold;
    margin-right: 40px;
    padding-top: 2.5px;
}

.card-informative-input {
    text-align: center;
    margin-top: 20px;
}

.label {
    font-weight: bold;
}

.numberCell {
    margin-top: 10px;
    margin-bottom: 3px;
    border: none;
    background-color: gainsboro;
    padding: 13px 12px;
    border-radius: 10px;
}

.btnSubmit {
    border: none;
    background-color: red;
    padding: 13px 37px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

.usuarios-opnioes {
    display: flex; 
    flex-direction: column;
}

.user-card {
    height: 12em;
    display: flex;
    align-items: center;
    background: rgba(220, 220, 220, 0.2);
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-opiniao {
    font-size: 1em;
}

.card-opiniao span {
    color: red;
    font-size: 1.5em;
}

.nome-user {
    font-size: 1.5em;
    margin: 0;
}

.nome-empresa {
    margin: 0px;
}

.card-opiniao p {
    font-weight: bold;
}

.rodape-site {
    background: black;
    color: white;
    padding: 15px;
}

.informative-rodape {
    text-align: center;
}

.informative-rodape h2 {
    font-style: italic;
    font-size: 3.5em;
    margin: 0;
}

.redes-sociais-menu {
    list-style: none;
    padding: 0;
    color: red;
    display: flex;
}

.redes-sociais-menu {
    letter-spacing: 50px;
    font-size: 2em;
}

@media screen and (min-width: 650px) {
    .sobre-produtos {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .card-informative-input {
        margin-top: 50px;
    }
}

@media screen and (min-width: 863px) {
    .header-site {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu-list {
        display: flex;
    }

    .menu-list li {
        margin-left: 20px;
        padding: 5px 10px;
    }

    .login {
        border: 1px solid red;
        padding: 5px 10px;
        background: red;
        color: white;
        border-radius: 10px;
    }

    .home-page-site {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sobre-produtos {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .imagem-coding {
        height: 30em;
    }

    .card-informative {
        height: 2em;
    }

    .card-title {
        font-weight: normal;
        margin-right: 40px;
        padding-top: 2.5px;
    }

    .icon-cloud-check {
        float: left;
        margin-left: 50px;
        font-size: 1.5em;
        color: red;
    }

    .card-informative-input {
        margin-top: 130px;
    }

    .usuarios-opnioes {
        margin-top: 80px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .user-card {
        width: 600px;
        text-align: center;
    }

    .rodape-site {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }

}